<div id="about_this_site" class="PetitionTitle" style="text-align:left;padding-top:0px;padding-left:25px;padding-right:25px;padding-bottom:5px;">
  We, the undersigners, believe the following:
</div>

<div id="about_this_site" class="PetitionTitle"  style="text-align:left;padding-left:35px;padding-right:25px;padding-bottom:5px;">
  1.) In the magnificant design of the Earth, uranium like other radioactive materials exists in its crust. Excluding the consequence of a natural catastrophe, it lies relatively harmlessly.
</div>

<div id="about_this_site" class="PetitionTitle"  style="text-align:left;padding-left:35px;padding-right:25px;padding-bottom:5px;">
  2.) If radioactive material were released with perhaps processing onto the Earth's surface ecosystems, forms of life including our own
  will suffer known and unknown disease, detriment, destruction and/or extinction.
</div>

<div id="about_this_site" class="PetitionTitle"  style="text-align:left;padding-left:35px;padding-right:25px;padding-bottom:5px;">

  3.) The exploration and mining of uranium tampers with the Earth's geological structure; they create unforeseen and uncontrollable risks to Earth-surface ecosystems.
</div>

<div id="about_this_site" class="PetitionTitle"  style="text-align:left;padding-left:35px;padding-right:25px;padding-bottom:5px;">

  4.) Specific to the Commonwealth of Virginia:
</div>
<div id="about_this_site" class="PetitionTitle"  style="text-align:left;padding-left:45px;padding-right:25px;padding-bottom:5px;">
  a.) Virginia Code ยง 45.1-283 has prevented uranium mining in requiring a permit.  However, that Code should be toughened in stating that uranium exploration and mining should never be permitted.
</div>
<div id="about_this_site" class="PetitionTitle"  style="text-align:left;padding-left:45px;padding-right:25px;padding-bottom:5px;">
  b.) While Virginia Code ยง 45.1-283 remains in effect, the Commonwealth of Virginia Legislature should reject in perpetuity any new or modified law that would permit uranium exploration or uranium mining.
</div>

<div id="va_code_283" style="text-align:left;padding-left:5px;padding-right:5px;font-size:12px;text-align:center;">
  <p>  Virginia Code: ยง 45.1-283. Uranium mining permit applications; when accepted; uranium mining deemed to have significant effect on surface. </p>
  <p>Notwithstanding any other provision of law, permit applications for uranium mining shall not be accepted by any agency of the Commonwealth prior to July 1, 1984,
    and until a program for permitting uranium mining is established by statute. For the purpose of construing ยง 45.1-180 (a), uranium mining shall be deemed to have a
    significant effect on the surface. </p>
</div>
<br/>