
<div class="center_content">


  <div id="about_this_site" style="text-align:left;padding-left:25px;padding-right:25px;BORDER: 1px solid;BORDER-COLOR:lightgray;">
    <p class="PetitionTitleText">Due largely to the 1973 OPEC oil embargo, the United States government began to study the availability of its energy resources. As part of that process was the
      creation of the National Uranium Resource Evaluation program under the U.S. Geological Survey to locate domestic sources of uranium.
    </p>

    <p class="PetitionTitleText">Broad exploration and evaluation of U.S. sources of uranium followed.  In 1978, a particularly rich deposit of uranium was found at
      <a href="#coles_farm">Coles Hill Farm, Pittsylvania County, Virginia</a>.  As quickly as 1982, the Commonwealth of Virginia set into <a href="#va_code_283">law</a> a ban on uranium mining
      in the form of refusing uranium mining permits.

      In 2007, the Commonwealth of Virginia did permit uranium <a href="#va_code_273">exploration activity</a>.  Since then, the company
      <%= link_to "Virginia Uranium Inc", "http://www.virginiauranium.com", :target=> "_blank" %> -- owned by the Canadien company 
 <%= link_to "Virgnia Energy Resources", "http://www.virginiaenergyresources.com/s/Home.asp", :target=> "_blank" %> -- has challenged the moratorium in seeking new law to allow permits for uranium mining, particularly at Coles Hill Farm.  Also law has been offered regarding the tax rate on retrieved uranium.
      If either of those laws -- or any other clever approach – were passed, then the moratorium on uranium mining may become irrelevant.</p>

    <p class="PetitionTitleText">Please follow this link, it is an excellent overview of the legislative history of uranium mining in Virginia:
      <%= link_to "Provided by the Virginia Division of Legislative Services: 'Uranium Mining: A Historical Perspective for Virginia'",  "http://dls.virginia.gov/pubs/uranium_mining.pdf", :target => '_blank'%>
    </p>
  </div>
    <br/>
  <div id="va_code_283" style="text-align:left;padding-left:25px;padding-right:25px;BORDER: 1px solid;BORDER-COLOR:lightgray;">
    <p>  Virginia Code: </p>
    <p>§ 45.1-283. Uranium mining permit applications; when accepted; uranium mining deemed to have significant effect on surface. </p>
    <p>Notwithstanding any other provision of law, permit applications for uranium mining shall not be accepted by any agency of the Commonwealth prior to July 1, 1984, 
      and until a program for permitting uranium mining is established by statute. For the purpose of construing § 45.1-180 (a), uranium mining shall be deemed to have a
      significant effect on the surface. </p>

  </div>
  <br/>
  <div id="va_code_273" style="text-align:left;padding-left:25px;padding-right:25px;BORDER: 1px solid;BORDER-COLOR:lightgray;">
    <p>  Virginia Code: </p>
    <p>§ 45.1-273. Definitions. </p>
    <p>"Exploration activity" means and shall be limited to the drilling of test holes or stratigraphic or core holes of a depth in excess of fifty feet for the purpose of determining the location, quantity, or quality of uranium ore.</p>
  </div>
<br/>

  <div id="coles_farm" style="text-align:center;padding-left:25px;padding-right:25px;BORDER: 1px solid;BORDER-COLOR:lightgray;">
    <p>Coles Hill Farm, Pittsylvania County, Virginia (Courtesy of The Southern Environmental Law Center)</p>

    <img src="../images/coles_farms.jpg" height="450px" width="550px" alt="Courtesy of The Southern Environmental Law Center"/>
  </div>



</div>