
<div style="float:left;width:960px;">
  <div style="float:left;width:450px; margin: 5px;padding:5px;">
    <p class="PetitionTitle" style="color:green;">
      You need to either Login...</p>

    <%= render :template => 'user/show' %>
  </div>
  <div style="float:left;width:462px;padding:7px;position:relative;border-left-width:3px;
       border-left-color: lightgray;
       border-left-style: solid;" >
    <p class="PetitionTitle" style="color:green;">Or, Register</p>
    <%= render :template => 'user/user_record' %>
  </div>
</div>