<ul class='menu'>
  <li><input type="button" value="Recognize this Symbol?"  class="button_style_menu" id="introduction" /></li>
  <li><input type="button" value="Home" class="button_style_menu" id="home" /></li>
  <li><input type="button" value="Site Author" class="button_style_menu" id="site_author" /></li>
  
</ul>



