<% key_counter = 0 %>
<% CollaboratorMethods.collaborator_value[:tips].each do |val| %>
  <div id="tips_div_<%= key_counter %>" class="tips_string">
    <%= val %>
    <% key_counter = key_counter + 1 %>
  </div>
<% end %>

<div>
  <input type="button" class="button_style_menu" id="carbonfootprint_click" value="Reduce Your Carbon Footprint!!" />
</div>
<div id="about_this_site" style="text-align:left;padding-left:25px;padding-right:25px;BORDER: 1px solid;BORDER-COLOR:lightgray;background-color: transparent;">
   <p class=PetitionTitle>Site Author</p>

  <p class=PetitionTitleText>My name is Elizabeth McGurty. I am offering this web site as a concerned citizen.  
    With the exception of the content of all links, I created this site in its entirety. And those links, orginally in this site I selected them myself, yet now I am accepting links from those that have visited my site. Technically this site was
  built in Netbeans, Ruby on Rails with a MySQL database.  The presentation is set for the most common computer monitor width, allowing 960 pixels.</p>
  <p class=PetitionTitleText>Going on more than five years now, I have been very concerned about the likelihood that uranium mining will come to the Commonwealth of Virginia.
    About a month ago, I learned that the documentary 'Hot Water' by filmmakers Liz Rogers and Kevin Flint will be shown on July 13, 2013 here in Halifax County.  Hoping that many
    people would attend the showing, I decided to develop this web site and distribute its link to those attendees.</p>
  <p class=PetitionTitleText>Uranium mining worries me at many levels.  Not only the destruction of vast and largely agricultural acreage mined and the consequent hazards of mining tailings, but the application of
    that uranium in nuclear power plants and nuclear weapons of mass destruction.
  </p>
  <p  class=PetitionTitleText>If you wish to contact me to make observations about this site; report errors that you have encountered; or maybe even to offer me some financial support,
    please click the 'Contact Us' link in the footer of this page.</p>
  <p class=PetitionTitleText>Otherwise, in your own way, pray for peace -- talk about your desire for peace; pray for non-destructive, sustainable energy sources -- talk about your desire for non-destructive, sustainable energy sources,
    and I thank you sincerely for your consideration of this web site.</p>
  <p class=PetitionTitleText>This site is dedicated to our future children and their absolute and equivalent right to be born into a safe, peaceful and wholesome World.
  </p>
  <p class=PetitionTitleText>From time to time, the text on this page may be updated.</p>
</div>



