<html>
<p>Thank you for offering your Perspective....</p>
<p>Alias:&nbsp; <%=  @user_alias %></p>
<p>Comments:&nbsp;<%=  @comments %></p>
<p>Date posted:&nbsp;<%=  @created_at %></p>
<p>Have a wonderful day!</p>
<p>No Uranium Mining in Virginia!</p>
<p>Please disregard this email if you have received it in error.</p>
</html>
