<html>
  <p>Visit this url to choose retrieve your User Name:</p>
  <p><%= @url %></p>
  <p>Have a wonderful day!</p>
  <p>Thanks,</p>
  <p>www.banumva.org</p>
  <p>No Uranium Mining in Virginia!</p>
</html>


