<html>
<p>Thank you for signing the No Uranium Mining in Virginia! petition</p>
<p>Alias:&nbsp; <%=  @signer_alias %></p>
<p>Comments:&nbsp;<%=  @comments %></p>
<p>Date posted:&nbsp;<%=  @created_at %></p>
<p>Have a wonderful day!</p>
<p>Again our thanks.</p>
<p>www.banumva.org</p>
<p>No Uranium Mining in Virginia!</p>
<br/>
<p>Please disregard this email if you have received it in error.</p>
</html>

