<html>
  <p>Your account has been created.</p>

  <p>User Name: <%= @user.username %></p>
  <p>Password: <%= @user.password %></p>

  <p>Visit this url to activate your account:</p>

  <p><%= @url %></p>

  <p> Thank you,</p>
  <p>www.banumva.org</p>
  <p>No Uranium Mining in Virginia!</p>

</html>
